<launch>
	<param name="robot_description" command="cat $(find swiftpro)/urdf/swift_model.xacro" />
	<param name="use_gui" value= "False" />
	<node name="swiftpro_read_gcode_node" pkg="swiftpro" type="swiftpro_read_gcode_node" output="screen" />
	<node name="swiftpro_write_gcode_node" pkg="swiftpro" type="swiftpro_write_gcode_node" output="screen" />
	<node name="swiftpro_rviz_node" pkg="swiftpro" type="swiftpro_rviz_node" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
</launch>
